* {margin:0;padding:0;}

/* Body */

.gbody{
font-family:tahoma,verdana,arial,times,sans-serif;
background:#FFF9F7;
margin-top:2pt;
margin-bottom:10px;
margin-right:0px;
margin-left:0px;
}

.popUp{
padding:3pt;
}

/* Common: generic tables */

td{
text-align:left;
}


table.forums, table.forumsmb {
font-family:tahoma,verdana,arial,times,sans-serif;
width:600px;
display:table;
color:#000;
border-collapse:collapse;
text-align:center;
margin-left:auto;
margin-right:auto;
} 

table.forumsmb{
margin-bottom:12pt;
}

.tbTransparent, .tbTransparentmb{
font-family:tahoma,verdana,arial,times,sans-serif;
width:600px;
background:transparent;
font-size:8pt;
text-align:center;
margin-left:auto;
margin-right:auto;
vertical-align:top;
}

.tbTransparentmb{
margin-bottom:12pt;
}

.tbTransparentCell{
text-align:left;
line-height:15pt;
vertical-align:top;
}

/* Common: image */

img {
border:0px;
}

/* Common: hyperlinks */

A:link {
color:#4E4C49;text-decoration:underline;
}
A:active {
color:#4E4C49; text-decoration:none;
}
A:visited {
color:#4E4C49; text-decoration:underline;
}
A:hover {
color:#4E4C49; text-decoration:none; background-color:#D4D0C7;
}

/* Common: $l_sepr */

.sepr{
color:#4E4C49;
}

/* Common: regular SPAN text */

.txtNr{
font-family:tahoma,verdana,arial,times,sans-serif;
text-decoration:none;
font-size:8pt;
line-height:12pt;
}

/* Common: small SPAN text with low importance  */

.txtSm{
font-family:tahoma,verdana,arial,times,sans-serif;
text-decoration:none;
font-size:7pt;
color:#797772;
}

.txtSm A:link, .txtSm A:active, .txtSm A:visited{
color: #4E4C49;
}

/* Common: list */

.limbb, UL{
list-style:circle;
font-size:8pt;
margin-left:10pt;
padding-left:10pt;
margin:1pt;
line-height:15pt;
}

/* Common: page navigation link */

.navCell{
font-family:tahoma,verdana,arial,times,sans-serif;
font-size:7pt;
border:1px #9D9A93 solid;
background-color:#FFFBF0;
color:#BAB7AF;
padding-left:2pt;
padding-right:2pt;
padding-top:1pt;
padding-bottom:1pt;
margin-top:1pt;
}

/* Common: <FORM> */

.formStyle{
margin: 0px;
}

/* Common: dropdowns */

.selectTxt {
font-family:tahoma,verdana,arial,times,sans-serif;
font-size:8pt;
background-color:#fff;
}

/* Common: button */

.inputButton {
font-family:tahoma,verdana,arial,times,sans-serif;
font-size:8pt;
color:#000;
border: 1px solid #85807C;
padding:1px 8px 2px 8px;
text-align:center;
background-color:#D4D0C5;
position:relative;
vertical-align:baseline;
cursor: pointer;
-moz-border-radius: 6px;
-khtml-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
-khtml-box-sizing: content-box;
box-sizing: content-box;
}

.inputButton:hover{
border-color: #FFFEFB;
}

/* Common: TEXTAREA, INPUT TEXT fields */

.textForm {
font-family:tahoma,verdana,arial,times,sans-serif;
background:#fff;
border-bottom:#958E83 1px solid;
border-left:#958E83 1px solid;
border-right:#958E83 1px solid;
border-top:#958E83 1px solid;
font-size:8pt;
padding:2px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
-khtml-box-sizing: content-box;
box-sizing: content-box;
}

/* Common: navigation captions at the top of pages */

td.caption3 {
padding:3px;
font-size:8pt;
font-weight:bold;
line-height:11pt;
vertical-align:middle;
width:100%;
}

/* Common: graphic icon cell */

td.icon{
padding:5px;
text-align:center;
vertical-align:middle;
width:20px;
height:20px;
}

/* Common: table row with swapped colors */

td.caption1 {
border:1px #E0DCD3 solid;
font-size:8pt;
line-height:15pt;
padding-bottom:1px;
padding-left:5px;
padding-right:5px;
padding-top:2px;
text-align:left;
}

/* Common: no-wrapping for text */
.noWrap{
white-space:nowrap;
}

/* Common: swapped cell #1 */

.tbCel1{
background-color:#F0ECE2;
}

/* Common: swapped cell #2 */

.tbCel2{
background-color:#E6E2D8;
}

/* Common: table with 2 columns / left column's cell; generic table title's caption */

td.caption4, td.tbClCp {
font-family:tahoma,verdana,arial,sans-serif;
text-transform:uppercase;
padding:5px;
font-size: 8pt;
color:#272522;
line-height:15px;
vertical-align:top;
border:1px #D9D0C0 solid;
background-color:#F1E7D5;
}

td.caption4{
text-align:center;
}

td.tbClCp{
text-align:right;
}

/* Common: centered text in the row */
td.txtC{
text-align:center;
}

/* Common: left aligned text in the row */
td.txtL{
text-align:left;
}

/* Common: right aligned text in the row */
td.txtR{
text-align:right;
}

/* Common: table with 2 columns; right column's cell */

td.caption5 {
padding:4px;
background-color:#FBEDED;
font-size:8pt;
line-height:13pt;
vertical-align:top;
}

/* Front Page: desktop table */

table.forumCol{
font-family:tahoma,verdana,arial,times,sans-serif;
width:100%;
text-align:left;
color:#000;
display:table;
border-collapse:collapse;
margin-bottom:12pt;
}

/* Front page: colorful legend */

span.latest,span.replies,span.author{
padding-left:2px;
padding-right:2px;
}

span.replies{
background-color:#F4F0E5;
}

span.author{
background-color:#EDE9DF;
}

span.latest{
background-color:#ECE8DE;
}

/* Front Page, Topics listing, Messages: <H1> heading */

.headingTitle{
font-weight:bold;
font-size:10pt;
color:#43413F;
margin-top:10pt;
margin-bottom:7pt;
}

/* Front Page, Topics listing, Messages: swapped cell column #1 */

tr.tbCel1 td.replies{
background-color:#F4F0E5;
}

tr.tbCel1 td.author{
background-color:#EDE9DF;
}

tr.tbCel1 td.latest{
background-color:#ECE8DE;
}

td.author, td.latest{
font-size:7pt;
}

/* Front page: Recent discussions icons */
td.rdficon{
background-color:#FFF9F7;
text-align:center;
vertical-align:middle;
padding-right:2pt;
}

/* Front Page, Topics listing, Messages: swapped cell column #2 */

tr.tbCel2 td.replies{
background-color:#F3EFE5;
}

tr.tbCel2 td.author{
background-color:#F0ECE2;
}

tr.tbCel2 td.latest{
background-color:#EBE7DD;
}

/* Front Page: views number */

.views{
color:#9F9F9F;
}

/* Front Page: supertitle */

.groupTitle{
color:#7B7670;
text-transform:uppercase;
font-size:8pt;
background-color:#D4D0C7;
padding:4pt;
padding-left:3pt;
padding-right:3pt;
border-bottom:1px #7E7D79 solid;
}

/* Front Page: Group title link */
.groupTitle A:link, .groupTitle A:active, .groupTitle A:visited{
color:#F0F0E3;
font-weight:bold;
}

/* Front Page: forum title */

td.forumTitle{
font-size:8pt;
padding:2pt;
padding-left:4pt;
border-color:#eee;
border:0px;
border-bottom:1px solid #F0F0F0;
background-color:#EDE3CD;
line-height:14pt;
}

/* Front Page: forum title hyperlink */

td.forumTitle A{
font-weight:normal;
color:#5C5A56;
text-decoration:underline;
background:none;
}

td.forumTitle A:hover{
text-decoration:none;
}

/* Front Page: forum description */
.fdesc, .fdescNum{
padding:3px;
padding-bottom:7pt;
font-size:7pt;
line-height:11pt;
vertical-align:top;
}

/* Front Page: forum counts */

.fdescNum{
color:#696969;
}

.fdescNum strong{
color:#333;
}

/* Messages: username */

.username{
font-size:8pt;
font-weight:bold;
}

.username A:hover, .groupTitle A:hover{
background:#B7B4AC;
color:#686662;
text-decoration:none;
}

/* Messages: text, hyperlink */

.postedText{
font-family:tahoma,arial,times,sans-serif,verdana;
font-size:8pt;
line-height:13pt;
padding-top:10pt;
padding-bottom:10pt;
}

.postedText A:link, .postedText A:active, .postedText A:visited, .postedText A:hover{
color:#4E4C49;
font-weight:bold;
}

.postedText A:hover{
text-decoration:none; background:#908C87; color:#F0EAE1;
font-weight:bold;
}

/* Messages: author row */
td.pauthor{
background-color:#EFEFE8;
border:1px #EFEFE8 solid;
border-bottom:#dbdbdb 1px solid;
font-size:8pt;
line-height:15pt;
padding-bottom:1px;
padding-left:5px;
padding-right:5px;
padding-top:2px;
}

/* Messages: quoting */

.quote{
background-color:#FAF6EB;
border-left:7px solid #FAFAFA;
color:#696969;
font-size:7pt;
margin-left:5pt;
padding:3px;
width:90%;
}

.quoting{
font-weight:bold;
border-top:0px;
color:#696969;
margin-left:3pt;
width:90%;
}

/* Messages: highlight block */

.hl{
font-family:tahoma,verdana,arial,times,sans-serif;
font-size:8pt;
background-color:#FAFCEE;
border-left:7px solid #F6F8EA;
color:#535353;
margin-left:5pt;
padding:4px;
width:70%;
}

/* Message form: new reply href's hover */

#newreply:hover, #newtopic:hover{
text-decoration:none;
background-color:transparent;
}

/* Message form: table */

td.caption2{
background-color:#D4D0C7;

border-top:1px #D4D0C7;
border-left:1px solid #D4D0C7;
border-right:1px solid #D4D0C7;
border-bottom:1px solid #D4D0C7;

padding:4px;
font-family:tahoma,arial,times,sans-serif,verdana;
color:#4E4C49;
font-size:8pt;
font-weight:bold;
line-height:15px;
}

/* Message form: table row */

td.pform{
background-color:#EDE9DF;
border-left:1px #EAE6DD solid;
border-right:1px #EAE6DD solid;
padding-top:2px;
padding-left:2px;
font-size:8pt;
border-bottom:1px #F3F3F3 solid;
vertical-align:top;
}

/* Message form: table row's image button hover */

td.pform A:hover IMG, .postedText A:hover IMG, td.caption1 A:hover IMG{
background-color:#F6F8EB;
text-decoration:none;
}

/* Message form: BB code buttons, login/post button row */

td.pform#editorControls, td.pform#pformBottom{
background-color:#F4F0E5;
padding-left:10px;
text-align:left;
padding-left:5px;
padding-top:8px;
padding-bottom:8px;
}

/* Message form: textarea's width, height */

.postingForm, .topicTitle{
width:550px;
margin-top:2px;
margin-bottom:2px;
}

.postingForm{
height:250px;
}

/* Statistics: table */

table.statsTable{
border-top:0px;
}

/* Statistics: headings */

tr.statsCaption TD{
background:#E3DCCB;
border-left:#F9F9F9 1px solid;
border-right:#F9F9F9 1px solid;
font-size:8pt;
padding:5px;
}

/* Statistics: top table */

tr#statsCaptionHead TD{
background-color:#EED6A1;
color:#333;
border:1px #C69B38 solid;
border-bottom:1px solid #C69B38;
}

/* Statistics: page bar and rows */

.tbStBar, table.statsTable td.caption5 td{
padding:1px;
padding-left:5px;
}

.tbStBar A{
color:#4E4C49;
}

tr.tbStRow TD{
text-align:left;
font-size:7pt;
}

/* Statistics: bar */

.tbStBar{
margin:1px;
background:#DEDEDE;
border:1px solid #CCCCCC;
border-bottom:1px solid #C0C0C0;
border-right:1px solid #C0C0C0;
}

/* Warning messages */

.warning{
font-family:tahoma,verdana,arial,times,sans-serif;
color:#FF0000;
font-size:8pt;
font-weight:bold;
}

.warning, .warningLnk{
line-height:15pt;
}

/* Admin panel: forum icons hover */

.tbTransparentCell A:hover img {
background-color:#F9F9F9;
text-decoration:none;
}

/* Header: table */

tr.tbHead{
background-color:#4967A0;
}

tr.tbHead A:hover{
background:none;
}

/* Header: menu row */

td.capMenu{
padding:4px;
padding-left:0px;
line-height: 13pt;
vertical-align:top;
border:1px #F0F0F0 solid;
border-bottom:1px #E6E2D8 solid;
border-top:0px;
background-color:#FFFBF0;
white-space:nowrap;
font-size: 8pt;
width:70%
}

/* Common specific: hyperlink hover*/

.txtSm A:hover, .tbStBar A:hover, td.capMenu A:hover{
color:#EDE9DF;
background:#86837E;
text-decoration:none;
}
