html, body {
 background-color: white; 
 font-family: Arial, sans-serif; 
 font-size: 0.9em;
 color:#000000;



 }
 fieldset{	
border: 1px;
padding-top : 20px;
border-color:#F00;
width : 60%;
margin-left: auto;
margin-right: auto;
margin-bottom:auto;
margin-top: auto;
background-color :rgb(255,220,0);
 -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 0.5em;
 }
 
 img{
	   float:top;
	 display: block;
    margin-left: auto;
    margin-right: auto
 }

legend{
	 font-family: Arial;
	 color: blue;
 }
 
input,textarea,button{ 
 border-radius: 0.5em;
 border-color : black;
border-bottom:5px;
Background : #DCDCDC;
border: solid 0.2em;
}
select option {
  width:200px;
}
p{
color:blue;
}

input[type=text] ,input[type=age],input[type=mail],input[type=date],input[type=time]    
{font-family : Arial;
color : #000000;
Border : solid 0.2em;
Border-radius : 0.5em;
Background-color : #dcdcdc;
}
input[type=submit], input[type=reset] {
 font-family: Arial; 
 width:100%
 margin-left:5px;
 border: solid;
 background: #8B4513;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }