<table class="table table-hover">
<tr>
<td class="caption3"><a href="{$main_url}/{$startIndex}">{$sitename}</a> / {$l_uploadAvatar}</td>
</tr>
</table>

<table class="table table-striped">
<tr>
<td>
<form action="{$main_url}/{$indexphp}" method="post" class="formStyle" enctype="multipart/form-data" class="formStyle">
<input type="hidden" name="MAX_FILE_SIZE" value="{$maxFileSize}" />

<!--STATIC_SIZE-->
<span class="warning">{$l_avatarFixed} {$maxAvatarWidth} x {$maxAvatarHeight} px!</span>
<br /><br />
<!--/STATIC_SIZE-->

<span class="txtNr" style="margin-bottom:5pt;display:block">{$l_chooseFile} ({$l_max} {$sizeKb} Kb<!--VARY_SIZE--> | {$l_max} {$maxAvatarWidth} x {$maxAvatarHeight} px<!--/VARY_SIZE-->):<br /></span><input type="file" name="userfile" class="textForm" />
<input type="hidden" name="action" value="avatarupload2" />
<input type="hidden" name="adminUser" value="{$adminUser}" />
<br /><br />
<input type="submit" value="{$l_uploadAvatar}" class="inputButton" />
</form>
<br /><br />
</td>
</tr>
</table>
