<table class="table table-hover">
<tr>
<td>
<h1>Avis de non responsabilité</h1>

En accédant à ce forum, vous acceptez d’être légalement responsable des conditions suivantes. Si vous n’acceptez pas d’être légalement responsable de toutes les conditions suivantes, alors n’accédez pas et/ou n’utilisez pas ce forum. Nous pouvons modifier celles-ci à n’importe quel moment et nous ferons tout pour que vous en soyez informé, bien qu’il soit prudent de vérifier régulièrement celles-ci par vous-même. Si vous continuez d’utiliser ce forum alors que des changements ont été effectués, vous acceptez d’être légalement responsable des conditions découlant des mises à jour et/ou modifications.

<br /><br />

Vous acceptez de ne pas publier de contenu abusif, obscène, vulgaire, diffamatoire, choquant, menaçant, à caractère sexuel ou tout autre contenu qui peut transgresser les lois de votre pays, du pays où ce forum est hébergé ou les lois internationales. Le faire peut vous mener à un bannissement immédiat et permanent, avec une notification à votre fournisseur d’accès à Internet si nous le jugeons nécessaire. Les adresses IP de tous les messages sont enregistrées pour aider au renforcement de ces conditions. Vous acceptez que l'on supprime, modifie, déplace ou verrouille n’importe quel sujet lorsque nous estimons que cela est nécessaire. En tant que membre, vous acceptez que toutes les informations que vous avez saisies soient stockées dans notre base de données. Bien que ces informations ne soient pas diffusées à une tierce partie sans votre consentement, nous ne pourront être tenus comme responsables en cas de tentative de piratage visant à compromettre les données.<br /><br />

<form action="{$main_url}/{$indexphp}" method="post" class="formStyle">
<input type="hidden" name="action" value="registernew" />
<input type="checkbox" name="disclaimer" value="1" /> Je suis d'accord
<br /><br />
<input type="submit" value="Continue" class="inputButton" /> <input type="button" value="{$l_back}" class="inputButton" onclick="JavaScript:document.location='{$main_url}'" />
</form>

</td>
</tr>
</table>