<tr class="{$bg}">
<td class="caption1 txtC"><a href="{$linkToTopic}">{$topicIcon}</a></td>
<td class="caption1">{$topicThumbnails}{$topic_reverse}<strong>{$unreadicon}<a href="{$linkToTopic}">{$topic_title}</a></strong>{$pageNavCell}</td>
<td class="caption1 txtC">{$numReplies}</td>
<td class="caption1 views txtC">{$topic_views}</td>
<td class="caption1 txtC">{$topicAuthor}<span class="txtSm"><br />{$whenPosted}</span></td>
<td class="caption1 txtC">{$lastPoster}<span class="txtSm"><br />{$lastPostDate}</span></td>
</tr>
