<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>{$title}</title>
	<meta name="ROBOTS" content="{$metaRobots}" />
	{$l_meta}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="js/favicon.png" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="favicon.ico" /><![endif]-->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/sticky-footer-navbar.css" rel="stylesheet">

	<link href="{$main_url}/bb_{$skin}_style.css" type="text/css" rel="STYLESHEET" />
</head>
<body >
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.php">
    				<img style=" **margin-top: -55px;**" alt="Logo" src="img/logo.png" class="pull-left">
    				<span class="stylelogo">&nbsp Forum - Ensemble pour l'Afrique</span>
				</a>
				<!-- <a class="navbar-brand" href="index.php">Forum - Ensemble pour l'Afrique</a></a> -->
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>{$l_menu[1]}</li>
					<li>{$l_menu[2]}</li>
					<li><a href="rules.php">Règlement du forum</a></li>
					<li><a href="faq.html">FAQ</a></li>
					<li>{$l_menu[5]}</li>
					<li><a href="#"><span class="glyphicon glyphicon-home"></span> Revenir sur le site principal</a></li>
				</ul>
			</div><!--/.navbar-collapse -->
		</div>
	</nav>
	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
