<table class="table table-hover"><tr><td>{$user_logging}</td></tr></table>

<table class="table table-hover">

<tr>
<td style="width:80%">{$l_forum}</td>
<td style="width:10%">{$l_num_topics}</td>
<td style="width:10%">{$l_replies}</td>
</tr>

{$list_forums}

<tr>
<td style="width:25px;"><img src="{$main_url}/img/p.gif" style="width:25px;height:1px" alt="" /></td>
<td style="width:100%"><img src="{$main_url}/img/p.gif" style="width:1px;height:1px" alt="" /></td>
<td><img src="{$main_url}/img/p.gif" style="width:45px;height:1px" alt="" /></td>
<td><img src="{$main_url}/img/p.gif" style="width:45px;height:1px" alt="" /></td>
</tr>

</table>

<br />