<table class="table table-hover">
<tr>
<td class="caption3"><h1 class="headingTitle"><a href="{$linkToForums}">{$sitename}</a></h1></td><td class="caption3 txtR noWrap"><!--pageNav--><span class="txtSm"><b>{$pageNavExtra}&nbsp;</b></span><!--/pageNav-->&nbsp;</td>
</tr>
</table>

{$specialThreads}
{$list_topics}

<br />
<table class="class="table table-hover"">
<tr>
<td class="tbTransparent txtL vmiddle" style="width:65%"><span class="txtSm"><strong><!--pageNav-->{$pageNavExtra}<!--/pageNav-->&nbsp;</strong></span></td><td style="width:35%" class="txtR">{$searchBox}</td>
</tr>
</table>
